* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('Images/eiliv-aceron-wNQoaYCFcsI-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top, center;
    background-attachment: fixed;
}

.content {
    height: 95vh;
    width: 100vw;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

.card {
    width: 250px;
    height: 250px;
    border-radius: 1rem;
    display: grid;
    place-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.details p{
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

p a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

p a:hover {
    color: #fff;
}

footer {
    height: 5vh;
    background-color: rgb(22, 22, 22);
    color: #fff;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

@media screen and (max-width: 425px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: center;
    }

    .content .card {
        margin: auto;
        height: fit-content;
        width: fit-content;
        padding: 1rem;
    }
}